.seccion1 {
  background-image: url("../images/actividad/actividades-sm.jpg");
  height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  color: white;
  box-sizing: border-box;
}
.donar img {
  width: 100%;
  object-fit: cover;
}
