.requisitos {
  background-color: rgb(0 123 255);
  color: white;
}
#imagen1 {
  width: 100%;
}
.formulario1 {
  overflow: hidden;
}
section label {
  font-weight: bold;
}
.logo {
  width: 100px;
}
.boton1 {
  background-color: rgb(40 167 69);
  color: white;
}

.text-inscripciones {
  color: green;
}
